:root {
  --brand-blue: #00B0D7;
  --gray-200: #707276;
  --gray-300: #5F5E61;
  --near-white: #F2F3F7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-blue {
  background-color: var(--brand-blue);
}

.main {
  max-height: 100vh;
  overflow-y: hidden;
  color: var(--gray-300);
}