.main_heading {
  font-size: 1rem;
}

.main_heading + p {
  font-size: 0.5rem;
}

.add_icon {
  width: 1.3rem;
  height: 1.3rem;
}

.add_icon_container {
  padding: 6px;
}

/* Report label styles */
.label_text {
  font-size: 0.675rem;
  margin-right: 11px;
}

.label_value {
  border: 1px solid var(--near-white);
  font-size: 0.5rem;
}

.label_value.active {
  border: 1px solid var(--brand-blue);
  color: var(--brand-blue);
}
/*  */

.grid {
  margin-top: 1rem;
}

/* Report card styles */
.report_card_container {
  padding: 0 1.750rem 1.250rem;
  border-radius: 20px;
  max-width: 23em;
}

.report_card_container .card_icon {
  padding: 0.5rem 0.65rem;
  width: 2.625rem;
  top: -1.250rem;
}

.report_card_container .card_icon svg {
  min-width: 20px;
  max-width: 100%;
}

.report_card_container .project_name {
  font-size: 1rem;
  letter-spacing: -0.075em;
  padding-top: 2.3rem;
}

.report_card_container .compass_icon, .report_card_container .alarm_icon {
  margin-right: 0.375rem;
}

.report_card_container .project_team, .report_card_container .project_deadline,
.report_card_container .team_heading, .report_card_container .progress_heading {
  font-size: 0.5rem;
  letter-spacing: -0.075em;
}

.report_card_container .progress {
  font-size: 0.750rem;
  letter-spacing: -0.075em;
}