.topbar_container {
  padding: 0.750rem 0.5rem 0.563rem 0.5rem;
}

.topbar_container > form {
  max-width: 40%;
}

.magnifying_glass_icon {
  width: 14px;
  height: 14px;
}

.bell_icon {
  width: 1.125em;
  height: 1.125em;
}

.user_name {
  font-size: 0.675rem;
}

.user_designation {
  font-size: 0.5rem;
}

@media screen and (min-width: 576px) {
  .topbar_container {
    padding: 0.750rem 3.313rem 0.563rem 1.813rem;
  }
}